body {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.skip {
  position: absolute!important;
  overflow: hidden;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  word-wrap: normal!important;
}

:focus{
  border: 2px solid blue;
}

.time-header{
  display: none;
}

header {
  font-family: Verdana, sans-serif;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  font-size: 70px;
}
h1 {
  font-family: Verdana, sans-serif;
  text-align: center;
  font-size: 50px;
  margin: auto;
  padding:10px;
  font-weight: bold;
}
h2 {
  font-family: Verdana, sans-serif;
  text-decoration: underline;
  text-align: center;
  font-size: 40px;
  margin: auto;
  padding:10px;
}


main {
  padding: 10px;
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 30px;
  justify-items: center;
  margin: 20px auto;
}

.content {
  margin-left: 0;
  transition: left 0.5s;
}

img {
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}

p {
  text-align: justify;
  margin-bottom: 10px;
  font-family: Verdana, sans-serif;
}

h3 {
  background-color: #333;
  color: white;
  padding: 5px;
  margin-top: 20px;
  font-family: 'Verdana', sans-serif;
  text-align: center;
}


.item-container{
  background-color: #20547C;
  color: white;
  padding: 20px;
}

.additional-photos{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 10px;
  justify-items: center;
  justify-content: center;
  margin: 20px auto;
  background: #aebbcd;
  padding: 10px;
  color: black;
}

.additional-photos img {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}

.thumbnail {
  margin: 5px;
}

ul {
  list-style-type: square;
  padding: 20px;
  background: #aebbcd;
  color: black;
  font-family: Verdana, sans-serif;
}
ol {
  list-style-type: square;
  padding: 20px;
  background: #aebbcd;
  color: black;
  font-family: Verdana, sans-serif;
}


.recipe-info{
  background: #aebbcd;
  color: black;
}

#navBar {
  position: absolute;
  width: 150px;
  height: 100%;
  background-color: #333;
  left: -150px;
  transition: left 0.5s;
}

#navBar.active {
  left: 0;
}

ul.nav-links {
  /* list-style: none !important; */
  font-size: 20px !important;
  background-color: transparent !important;
}

ul.nav-links a {
  color: #fff !important;
  padding-top: 10px;
  padding-bottom: 10px;
  display: inline-block;
  text-decoration: none;
}

#navToggle {
  position: absolute;
  top: 30px;
  left: 180px;
}

#navToggle span{
  width: 45px;
  height: 4px;
  background: black;
  display: block;
  margin-top: 4px;
}

#main.active{
  margin-left: 150px;
}

button {
  display: none;
}

.title-img:hover,
.title-img:focus{
  transform: scale(1.025);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (prefers-reduced-motion: reduce) {
  img[src$=".gif"] {
  display: none;
  }

  main {
    transition: none;
  }

  #navBar {
    transition: none;
  }

  .title-img{
    transform: none;
  }
}

ul.nav-links a:hover,
ul.nav-links a:focus  {
  text-decoration: underline;
}

#navToggle:hover,
#navToggle:focus{
  background-color: #666;
}

.item-container a{
  text-decoration: underline;
  color: white;
}

.slide {
  display: grid;
}

@media screen and (min-width: 450px){
  .main {
    grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  }
}

@media screen and (min-width: 700px) {
  .skip:focus{
    border: 2px solid #007bff;

  }
  
  main {
      grid-template-columns: repeat(auto-fill, minmax(700px, 1fr));
      left: 0;
  }

  h1 {
    font-size: 80px;
  }

  h2 {
    font-size: 60px;
  }

  .nav-toggle {
    display: none;
  }

  #navBar{
    left: 0;
    position: relative;
    width: 100%;
    gap: 0px;
  }

  .headerPlusNav{
    background-color: transparent !important;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    max-height: 200px;
  }

  .nav-links{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
  }

  .nav-links a{
    text-decoration: underline !important;
  }

  .pets-link:hover,
  .pets-link:focus {
    background-color: #666;
    text-decoration: none;
  }

  .pets-link {
    grid-column-start: 1;
    grid-column-end: 2;
    text-decoration: underline;
  }
  
  .recipes-link {
    grid-column-start: 2;
    grid-column-end: 3;
    text-decoration: underline;
  }

  .recipes-link:hover,
  .recipes-link:focus {
    background-color: #666;
    text-decoration: none;
  }

  .travel-link {
    grid-column-start: 3;
    grid-column-end: -1;
    text-decoration: underline;
    text-decoration-color: white;
  }
  .travel-link:hover,
  .travel-link:focus {
    background-color: #666;
    text-decoration: none;
  }

  header {
    padding: 0;
  }

  .title-img{
    width: 100%;
  }

  .likes{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    text-align: center;
  }

 p {
  font-size: 1.5em;
 }
 
 h3{
  font-size: 2em;
 }

 li {
  font-size: 1.5em;
 }

 .additional-photos{
  grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
 }

 .carousel{
  position: relative;
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;

 }

 .slide{
    width: 100%;
    display: none;
 }

 button {
  display: block;
  cursor: pointer;
 }

.prev{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  color: rbga(255, 255, 255, .5);
  border-radius: .25em;
  padding: 15px;
  background-color: rgba(0,0,0,0.2);
  font-size: 50px;
  color: white;
}

.next{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: rbga(255, 255, 255, .5);
  border-radius: .25em;
  padding: 15px;
  background-color: rgba(0,0,0,0.2);
  font-size: 50px;
  color: white;
}

#ap-recipes{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#ap-recipes img{
  width: 30%; 
  margin-bottom: 20px;
}
}

@media screen and (min-width: 1000px) {
  .time-header{
    display: block;
  }

  .skip:focus{
    border: 2px solid #007bff;

  }

  #ap-recipes{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
  }

  #ap-recipes img{
    width: 100%;
    height: 100%;
    padding: 30px;
  }

  
}